@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Barbie Doll Company</h1>
    <img src="~/Image/doll-girl-pretty-beautiful-beauty-stylish-gorgeous-attractive.jpg" alt="doll2" /><br />
    <img src="~/Image/67a7017ddcbd91c68f98a9443287d07e.jpg" alt="doll" />
    <img src="~/Image/d258c0995c250eab0ec89c899befab94.jpg" alt="doll" /><br />

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
